*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primarColor:#022657;
    --secondaryColor:#f2aa55;
    --buttonColor: linear-gradient(#f7a644, #ac7532);
}
body{
    background-color: #06316d;
    background-image: url(./image/Background_Logo.svg);
    background-repeat: no-repeat;
    color: white;
    font-family:'Poppins', sans-serif;
}
.header_image{
    background-image: url(./image/brand_buzz_digital_hero@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-width: 100vw;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 2s linear;
    /* background: var(--primarColor); */
}
.logo{
    background: var(--primarColor);
    width: 20%;
    height: 100%;
    float: left;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 2s 2s;
}
.logo img{
    max-height: 80%;
    float: right;
    position: relative;
    top: 4%;
    right: 4%;
    transition: all 2s 2s;

}
.navbar {
    background: var(--primarColor);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
    transition: all 2s 2s;
}
    
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 12rem 0 1rem;
    display:flex;
    align-items: center;
    height: 100%;
    transition: all 2s linear;
}

.navbar li a {
    color: var(--secondaryColor);
    text-align: center;
    padding: 1.4rem 16px;
    text-decoration: none;
    transition: all 2s ease;
}
.text{
    /* display: block; */
    /* padding: 17rem 0 2rem 55rem; */
    animation: text;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
    display: inline-block;
    position: relative;
    /* top: 50vh;
    left: 65vw; */
}
.text p{
    line-height: 1.5em;
    font-size: 200%;
}
@keyframes text {
    0%{
        top: 50%;
        left: 0;
    }
    50%{
        right: 1000px;
    }
    100%{
        top: 50%;
        left: 65%;
    }
}
.text strong{
    font-size: 3rem;
    font-weight: bolder;
}
.text button{
    background: var(--buttonColor);
    color: white;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border-radius: 50px;
    border: var(--buttonColor);
    box-shadow: 1px 1px 5px var(--secondaryColor);
    opacity: 0;
    animation: btn;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes btn {
    0%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}
.container-1{
    display: flex;
    flex-direction: row;
    background: var(--primarColor);
    margin-top: 5px;
}
.container-1 .pw-logo{
    background-image: url(./image/paveway-technologies-log.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 50px;
}
@keyframes scroll {
    0%{ 
        transform: translateX(300px);
    }
    50%{
        transform: translateX(0);
        
    }
    100%{
        transform: translateX(300px);
    }
}
.animation-container{
    /* overflow-x: hidden; */
    margin-right: 8vw;
}
.animation{
    padding: 10px 0;
    display: flex;
    animation: scroll 40s infinite;
}
.container-1 .border{
    flex: auto;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container-1 #push{
    /* text-align: center; */
    margin-left: 8vw;
    padding-top: 3.8rem;
    padding-right: 1vw;
    color: var(--secondaryColor);
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
}
.container-1 .border-line{
    width: 100%;
    border-left: 1px solid rgb(175, 172, 172);
}
#brand{
    border-right: 1px solid rgb(175, 172, 172);
}
.container-1 p{
    color: rgb(19, 115, 206);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    line-height: 1rem;
    /* font-weight: bold;*/
}

.container-1 strong{
    font-size: 20px;
}
.container-1 #space{
    letter-spacing: 0.4em;
    font-size: 15px;

}
.container-1 #no-space{
    font-size: x-small;
}

article{
    /* margin: 3rem 10rem; */
    margin: 3rem 12vw;
}
.section{
    margin:0 5%;
}
h1{
    font-size: 300%;
    font-weight: bolder;
    text-align: center;
    color: var(--secondaryColor);
}
.container-2{
    background: silver;
    padding: 2.5rem 3rem;
    border-radius: 5rem;
}
.container-2 #paragraph{
    background: white;
    color: black;
    padding: 3%;
    border-radius: 60px;
    overflow: hidden;
}
#paragraph p{
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

.image{
    display: flex;
    flex-wrap: wrap;
}
#girl{
    background-image: url(./image/1651736556515.jpg);
    /* background-position: inherit; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100px;
    min-width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    right: 3rem;
    top: 5rem;
    /* bottom: -20px; */
    animation: girl infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes girl {
    0%{
        top: 5rem;
        left: -3rem;
    }
    25%{
        left: 10rem;
    }
    50%{
        top: 5rem;
        left: -3rem;
        bottom: -5rem;
    }
    100%{
        top: 5rem;
        left: -3rem;
    }
}
#penn1{
    background-image: url(./image/PENN-1.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 70% 6%;
    height: 100px;
    width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    left: 60%;
    top: 2.5rem;
}
#penn{
    background-image: url(./image/peen\ and\ alain.jpg);
    background-repeat: no-repeat;
    background-position: 80% 40%;
    background-size: 300%;
    height: 100px;
    width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    left: 10%;
    bottom: 2.5rem;
}
#penn-alain{
    background: url(./image/peen\ and\ alain.jpg) center/cover no-repeat;
    height: 100px;
    width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    left: 80%;
    bottom: 60px;
}
.section-1 h1{
    margin-bottom: 20px;
}
.container-3{
    display: flex;
    flex-wrap: wrap;
}
.container-3 .row{
    flex: 20%;
}
.row{
    padding: 2px;
    background: rgb(211, 211, 211);
    margin: 10px;
    border-radius: 20px;
}
.row:hover{
    transform: translateY(-20px);
    transition: all 1s 0s;
}
.row-image img{
    width: 100%;
    height: 11rem; 
    border-radius: 20px;
    /* overflow: hidden; */
}
.service{
    background: #ffffff;
    color: black;
    padding: 20px 20px 35px 20px;
    margin: 0 10px 0 10px;
    position: relative;
    top: -20px;
    border-radius: 20px;
}
.container-3 h2{
    font-size: 20px;
    font-weight: bolder;
    /* padding: 0 0 0 20px; */
}
.container-3 p{
    padding: 10px ;
}
.container-3 button, .container-4 button{
    background: var(--buttonColor);
    color: white;
    height: 1.3rem;
    width: 4rem;
    border-radius: 10px;
    float: right;
    border: var(--secondaryColor);
    box-shadow: 1px 2px 5px var(--buttonColor);
} 
.section-2{
    margin: 40px; 
}
.testimonial{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 2s 2s;
    overflow: hidden;
    /*overflow-x: auto;
    -webkit-overflow-scrolling: touch; */
}
.sub_testimonial{
    margin: 0 8px;
    background: rgb(211, 211, 211);
    display: flex;
    color: black;
    border-radius: 20px;
    /* flex-shrink: 0; */
    transition: all 2s 2s;
    animation: scroll 40s infinite;
}

.testimonial_image{
    background-image: url(./image/peen\ and\ alain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 200px;
    width: 200px;
    margin: 10px 8px;
    border-radius: 20px;
    transition: all 2s 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_testimonial > .testimonial_image{
    opacity: 0.8;
}
.testimonial_image:hover{
    background-size: 200%;
}
.testimonial_text{
    background: #ffffff;
    margin: 10px 8px 10px 0;
    width: 120px;
    border-radius: 20px;
    padding: 25px 0px 20px 20px;
    line-height: 1.5em; 
    transition: all 2s 2s;
}
.play_arrow{
    background-image: url(./image/play-solid.svg);
    filter: opacity(0.9) drop-shadow(0 0 0 #e49f5f);
    background-repeat: no-repeat;
    background-size:contain;
    height: 40px;
    width: 30px;
    z-index: 999;
}
.play_arrow:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 #e49f5f);
}
.light-text{
    color: rgb(211, 211, 211);
    font-weight: bold;
}
.yellow-logo{ 
    background-image: url(./image/brand_bozz_blue_yellow_logo_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 20px;
    width: 20px;
    float: right;
    position:relative;
    top: 45%;
    /* margin-top: 50%;*/
    margin-right: 10px;
    /* border: 2px solid black; */
}

footer{
    background: var(--primarColor);
    margin-top: 8rem;
    padding: 2rem 10rem;
}
.main-footer{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.basic-footer{
    flex: 5%;
    /* justify-content: space-between; */
    /* margin-left: 2rem; */
}
.main-footer ul{
    list-style-type: none;
    padding-top: 1rem;
}
.main-footer li{
    font-size: small;
    line-height: 1.4rem;
}
.main-footer h3{
    font-size: 0.6rem;
    letter-spacing: 0.1em;
}
.main-footer #special p{
    margin-top: 1rem;
    font-size: small;
    line-height: 1.4em;
}

.main-footer input{
    height: 2.5rem;
    width: 10rem;
    margin-top: 0.5rem;
    background:var(--primarColor);
    font-size: 0.8rem;
    border-radius: 10px;
    letter-spacing: 1px;
    /* color: #ffffff; */
}
.main-footer button{
    width:8rem;
    height: 2.5rem;
    font-weight: bolder;
    font-size: 0.7rem;
    border-radius: 10px;
}
.copy{
    position: relative;
    top: 8rem;
    left: 3rem;
    font-size: small;
}