*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
:root{
    --primarColor:#022657;
    --secondaryColor:#f2aa55;
    --buttonColor: linear-gradient(#f7a644, #ac7532);
}
body{
    background-color: #06316d;
    background-image: url(./image/Background_Logo.svg);
    background-repeat: no-repeat;
    color: white;
    font-family:'Poppins', sans-serif;;
}
.header_image{
    background: url(./image/brand_buzz_digital_hero@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    background: var(--primarColor);
    width: 200px;
    max-height: 4em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    /* position: fixed; */
    transition: all 2s 2s;
}
#logo{
    margin: 50% 0 50% 60%;
}
.main-header{
    position: fixed;
    z-index: 999;
}
.navbar{
    background: var(--primarColor);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* float: right; */
    margin-left: 200%;
    /* width: 30vw;
    height: 7vh; */
    transition: all 2s 2s;
    min-width: 450px;
    min-height: 70px;
}
    
.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content:left;
} 
li{
    margin: 20px;
}
li a{
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: larger;
}
.text{
    display: block;
    /* align-items: center;
    justify-content: center; */
    /* margin-top: 35vh;
    margin-left: 60%; */
    padding: 200px 0 20px 65%;
}
.text p{
    line-height: 1.5em;
    font-size: 28px;
}
.text strong{
    font-size: 50px;
    font-weight: bolder;
}
.text button{
    background: var(--buttonColor);
    color: white;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border-radius: 50px;
    border: var(--buttonColor);
    box-shadow: 1px 1px 5px var(--secondaryColor);
}
.container-1{
    display: flex;
    flex-direction: row;
    background: var(--primarColor);
    margin-top: 5px;
}
.container-1 .pw-logo{
    background-image: url(./image/paveway-technologies-log.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 50px;
    /* border:#ffffff 1px solid;  */
}
.container-1 .border{
    flex: auto;
    border-right: 1px solid rgb(175, 172, 172);
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.container-1 #push{
    margin-left: 100px;
    color: var(--secondaryColor);
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}


.container-1 p{
    color: rgb(19, 115, 206);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    line-height: 20px;
    /* font-weight: bold; */
}
.container-1 #pull{
    padding-right: 90px;
} 
.container-1 strong{
    font-size: 20px;
}
.container-1 #space{
    letter-spacing: 0.4em;
    font-size: 15px;

}
.container-1 #no-space{
    font-size: x-small;
}

article{
    margin: 50px 100px ;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: var(--secondaryColor);
}
.container-2{
    margin-top: 0;
}
#paragraph{
    /* border: 20px solid silver; */
    background: white;
    color: black;
    border: 50px solid silver;
    border-radius: 100px;
}
#paragraph p{
    margin: 40px 50px;
    text-align: center;
}
.image{
    display: flex;
    margin: 0;
}
#girl{
    background-image: url(./image/1651736556515.jpg);
    /* background-position: inherit; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100px;
    min-width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    right: 30px;
    top: 80px;
    bottom: -200px;
}
#penn1{
    /* background-image: url(./image/Israel.jpg);
    background-position: bottom 0.5px right 1px;
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: url(./image/PENN-1.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 70% 6%;
    height: 100px;
    width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    left: 75%;
    top: 50px;
}
#penn{
    background-image: url(./image/peen\ and\ alain.jpg);
    background-repeat: no-repeat;
    background-position: 80% 40%;
    background-size: 300%;
    height: 100px;
    width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    left: 90px;
    top: -50px;
    bottom: 200px;
}
#penn-alain{
    background: url(./image/peen\ and\ alain.jpg) center/cover no-repeat;
    height: 100px;
    width: 100px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    left: 80%;
    bottom: 51px;
}

.section-1{
    display: block;
}
.section-1 h1{
    margin-bottom: 20px;
}
.row:hover{
    transform: translateY(-20px);
    transition: all 1s 0s;
}
.container-3, .container-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-3 h2, .container-4 h2{
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 0 0 20px;
}
.container-3 p, .container-4 p{
    padding: 20px 0 0 0;
    /* text-align: center; */
    margin: 0 20px;
}
.container-3 div, .container-4 div{
    flex: auto;
    border: 1px solid white;
    border-radius: 30px;
    margin: 20px 10px;
    background: rgb(211, 211, 211);
    color: black;
}
.row{
    /* min-height: 30px; */
    height: 400px;
    min-width: 50px;
}
.container-3 img, .container-4 img{
    max-width: 100%;
    min-height: 50%;
    object-fit: fill;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.container-3 .service, .container-4 .service{
    background: #ffffff;
    position: relative;
    top: -60px;
    height: 55%;
}
.container-3 button, .container-4 button{
    background: var(--buttonColor);
    color: white;
    border: var(--secondaryColor);
    min-width: 80px;
    min-height: 23px;
    border-radius: 50px;
    margin: 10px 0;
    margin-right: 10px;
    float: right;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: 1px 2px 5px var(--buttonColor);
}
.section-2{
    margin: 40px; 
}
.testimonial{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 2s 2s;
    overflow: hidden;
    /* overflow-x: auto;
    -webkit-overflow-scrolling: touch; */
}
.sub_testimonial{
    margin: 0 8px;
    background: rgb(211, 211, 211);
    display: flex;
    color: black;
    border-radius: 20px;
    /* flex-shrink: 0; */
    transition: all 2s 2s;
}

.testimonial_image{
    background-image: url(./image/peen\ and\ alain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 200px;
    width: 200px;
    margin: 10px 8px;
    border-radius: 20px;
    transition: all 2s 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_testimonial > .testimonial_image{
    opacity: 0.8;
}
.testimonial_image:hover{
    background-size: 200%;
}
.testimonial_text{
    background: #ffffff;
    margin: 10px 8px 10px 0;
    width: 120px;
    border-radius: 20px;
    padding: 25px 0px 20px 20px;
    line-height: 1.5em; 
    transition: all 2s 2s;
}
.play_arrow{
    background-image: url(./image/play-solid.svg);
    filter: opacity(0.9) drop-shadow(0 0 0 #e49f5f);
    background-repeat: no-repeat;
    background-size:contain;
    height: 40px;
    width: 30px;
    z-index: 999;
}
.play_arrow:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 #e49f5f);
}
.light-text{
    color: rgb(211, 211, 211);
    font-weight: bold;
}
.yellow-logo{ 
    background-image: url(./image/brand_bozz_blue_yellow_logo_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 20px;
    width: 20px;
    float: right;
    position:relative;
    top: 45%;
    /* margin-top: 50%;*/
    margin-right: 10px;
    /* border: 2px solid black; */
}
.footer-section{
    margin-top: 100px;
    min-height: 100%;
    min-width: 100%;
    background: var(--primarColor);
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    margin: 0 100px; 
    font-size: 12px;
}
footer div{
    margin: 40px 0 40px 20px;
    /* padding: 0 20px; */
}
footer ul{
    text-decoration: none;
    list-style-type: none;
}
footer li{
    line-height: 5%;
}
footer li a{
    color: #ffffff;
    font-size: 12px;
}
/* footer h4{
    font-size: 10px;
    word-spacing: -1;
    /* margin: 20px 0 20px 10px; 
}*/
#service{
   position: relative;
   top: -30px;
}
#subscribe{
    position: relative;
    top: 0.4rem;
    /* margin-left: 10px; */
}
.special1{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px 40px 10px;
    position: relative;
    left: 10px;
}
#subscribe-heading{
    position: relative;
    bottom: -45px;
}
#special2{
    padding-top: 55px;
}
#subscribe p{
    line-height: 1.5rem;
    margin-top: -23px;
}

#subscribe input{
    height: 40px;
    width: 200px;
    margin-top: 10px;
    margin-left: 0px;
    background:var(--primarColor);
    font-size: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    /* color: #ffffff; */
}
input::placeholder{
    color:white;
    font-weight: bold;
}
input[text]{
    color: #ffffff;
}
#subscribe button{
    width: 130px;
    height: 40px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 10px;
    border-radius: 10px;
}
.copy{
    position: relative;
    top: 80px;
    left: 0px;
}


